* {
    font-family: "Open Sans";
}
 a {
    color:#976d11;
 }
 a:hover {
    color:#391379;
 }
.center {
    display: flex;
    justify-content: center;
}
.vertcenter {
    display: flex;
    align-items: center;
}
.left {
    display: flex;
    justify-content: left;
}
.right {
    display: flex;
    justify-content: right;
    align-items: center;
}
body {
    margin: 0;
}
.buttonlink a {
    background-color: #976d11;
    font-size: larger;
    font-weight: 400;
    color: white;
    border: solid black;
    font-family: "Open Sans";
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}
.buttonlink a:hover {
    transition: background-color 0.3s ease-in-out;
    background-color: #391379;
}
.titlelink {
font-family: "Inter";
font-size: x-large;
font-weight: 600;

}
.headbar {
    display: grid;
    width: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    font-size: x-large;
    font-size: 200%;
    font-weight: 900;
    margin: 0 30px;
}
.headbar p {
    font-family: "Noto Serif";
}
.headbar img {
    height: 100px;
    width: auto;
}

.pageselector {
    display: flex;
    background-color: #976d11;
}

.pageselector a {
    transition: background-color 0.3s ease-in-out;
    font-weight: bolder;
    font-size: x-large;
    color: white;
    font-family: "Inter";
    display: flex;
    flex-grow: 1;
    padding: 15px;
    justify-content: center;
}

.pageselector a:hover {
    transition: background-color 0.3s ease-in-out;
    background-color: #391379;
    color: white;
}

.title {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
}
.title h1 {
    font-family: "Noto Serif";
}

#allgames {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

.sectiontitle {
background-color: #391379;
color: white;
font-size: xx-large;
border-radius: 10px;
padding: 10px 10px 10px 20px;
margin-bottom: 10px;
}

#content {
    background-color: white;
    width: 60em;
    margin: 0 auto;
    padding: 1em;
}
#nationals {
    display: grid;
    grid-template-columns: 50% 50%;
}

#nationals span {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#nationals ul {
    columns: 2;
}

.cancelled {
    font-weight: bold;
    color: red;
    padding: 0;
    margin: 0;
}

#gallerypreview {
    display: grid;
    grid-auto-rows: auto;
    grid-template: auto auto / 1fr 1fr 1fr;
    gap: 20px 20px;
    margin: 0 20px;
}
#gallerypreview img {
    max-width: 100%;
}
#iu4 {
    grid-area: 2 / 1 / 2 / 4;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
    margin: 0 20px;
}
.gallery img {
    max-width: 100%;
}

.icon {
    max-height: 3em;
    max-width: 3em;
    padding: 0.3em;
}

.doclist {
    list-style-type: none;
    margin: 0;
    font-size: 150%;
    font-weight: 200;
    padding: 0.2em;
}

.doclist li {
    padding: 0.2em;
    margin: 0.2em;
}

.dropdownlist {
    background-color: #f4f4f4;
    border: solid black;
    padding: 20px;
    margin: 1.5em 0;
    border-radius: 8px;
}

.dropdownlist summary {
    font-size: 150%;
    font-weight: 700;
}
.dropdownlist li {
    padding: 1em;
    font-size: large;
    font-weight: 600;
}

.twocolumn {
    columns: 2;
}
.gridtwocolumn {
    margin: 0 1em;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

table {
    border: solid black;
}
.infobox {
    color: black;
    margin: 1em 1em;
    font-size: large;
    background-color: #f7e4ba;
    border: solid black 3px;
    border-radius: 12px;
    padding: 0 1em 1em 1em;
}
.infobox h3 {
    margin: 10px 30px;
    padding: 1em 0 0 0;
    font-weight: 800;
    display: flex;
    justify-content: center;
}

.infobox h4 {
    font-weight: 700;
}

.infoboxmargin {
    margin: 0 1em;
}

footer {
    min-height: 20em;
    background-color: black;
    border: solid black;
    color: white;
}

#footer a {
    color: white;
}

#footer a:hover{
    background-color: #391379;
    color: white;
}

#footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#footer a {
    justify-content: center;
    align-items: center;
    font-weight: 400;
}
#footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}
#footer1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
    font-weight: 900;
    margin: 2em;

}
#footer1 * {
    font-weight: 700;
    font-size: x-large;
    display: flex;
    justify-content: left;
}
#footer1 p {
    font-size: smaller;
    font-weight: 300;
}
#footer2 {
    display: flex;
    justify-content: center;
}
#footer2 * {
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: x-large;
}
#footer2 li {
    padding: 0.5em;
}
#footericon {
    max-width: 200px;
    max-height: 200px;
}

#footer3 ul {
    display: flex;
    align-items: end;
    padding-right: 3em;
}
